<div class="row">
  <div class="large-12 columns">
  <hr/>
    <strong>Acknowledgement</strong>
      <p>
        As an authorized representative of the company, in which I am currently employed, I acknowledge that I have read &amp; accept the terms &amp; conditions of this Agreement.
      </p>

      <div class="row">
        <div class="large-12 columns">
          <%= f.check_box :acknowledgement, :"required" => "true" %>
          <strong> I Accept</strong><br />
          <small class="error">You must accept the terms &amp; conditions to register.</small>
        </div>
      </div>
  </div>
</div>