<div class="row">
  <div class="large-12 columns">
  <hr/>
    <strong>Airline Tickets</strong>
    <p>
      Cost: up to $400 each/ up to 2 people<br />
      Status: Reimbursed*<br />
    </p>
    <p>
      Buyer Participation Requirement: Buyer Participation Requirement: All buying companies must qualify to attend the event based on NLGS’s qualification requirements. Contact NLGS for details. All Buyer participants must be available for appointments between established event hours each day. Funds are allocated for airfare only and will not be applied towards other items, i.e. hotel, food, etc. Buyers departing early or missing / canceling appointments will forfeit all fees waived / reimbursed and will be billed accordingly.
    </p>
  </div>
</div>