<div class="row">
  <div class="large-12 columns">
  <hr/>
    <strong>Terms &amp; Conditions</strong>
      <p>
        Cancellation: It is requested that you make every attempt to follow through with your commitment to attend as cancellations damage the integrity of the appointment schedule and the credibility of your company and NLGS. In the event of a personal emergency, every effort must be made to send another representative from your company. 
      </p>
      
      <p>
        *Reimbursement Policy: Buyer attendees must meet the minimum profile requirements as set forth by NLGS. NLGS will reimburse coach class airfare up to $400 per attendee for a maximum of 2 attendees, for buyers attending all appointments. Airfare is not reimbursed for closeout or liquidation companies or for buyers skipping or cancelling appointments. Buyers must submit receipts to NLGS within 30 days of event for full reimbursement. Attendees who leave the conference early or miss scheduled appointments will NOT be eligible for reimbursement. Buyer transportation reimbursements will be based upon the following: if driving, roundtrip mileage only or if flying, an airline ticket price quoted at least 30 days advance purchase of the event from your closest home office departure airport to the closest arrival airport, whichever is least expensive.
      </p>

      <p>
        Disclaimer: Submittal of this form represents your company’s commitment to participate
      </p>
      
  </div>
</div>