<div class="row">
  <div class="large-12 columns">
  <hr/>
    <strong>Registration Fee</strong>
    <p>
      Includes all scheduling, appointment table, majority of food, beverage and snacks, and special off site VIA event.</p>
    <p>
      Cost: $700.00<br /> 
      Status: WAIVED<br />
    </P>
  </div>
</div>