<div class="row vendor" id="pet-priority-selections" style="display:none">
  <div class="large-12 columns">
    <fieldset>
      <legend>RANK THE PRIORITY OF THE PET PRODUCT CATEGORIES YOU WOULD LIKE TO PRESENT:</legend>
      NOTE: CATEGORIES HAVE EXPANDED.<br/>

      <p>A maximum of 5 categories may be selected. You will be scheduled based on the priority of your ranking(s).
      <em>*Questions?</em> &nbsp;   Call (719)488-0226 or (888)316-0226</p>

      <p>Please rank the categories you would like to present by entering the category number in a priority field below, for example, Priority #1 "001", Priority #2 "026" etc.</p>

      <h3>VENDOR PET PRODUCT CATEGORY LIST:</h3>

      <div class="row">
        <div class="large-12 large-offset-1 columns">
          <%= render 'registrations/vendor_form/pet_product_category_fields', f: f %>
        </div>
      </div>
      <div class="row">
        <div class="large-10 large-centered columns">
          <%= render 'registrations/vendor_form/pet_product_categories'%>
        </div>
      </div>
    </fieldset>
  </div>
</div>