<div class="row vendor">
  <div class="large-12 columns">
    <fieldset>
      <legend>Additional Point of Purchase (POP) Space Reservations</legend>
      <span>The first POP space is included with the primary contact registration.  Additional POP spaces are $100.00 each.</span>


      <div class="row pop-spaces">
        <div class="large-6 columns">
          <%= f.label 'Additional Pop Space Size' %><br/>
          <%= f.select :pop_spaces, options_for_select( 
            [
              ["None", 0],
              ["One Add'l POP (2'x2')", 1],
              ["Two Add'l POP (2'x4')", 2],
              ["Three Add'l POP (2'x6')", 3],
            ],
            @registration.pop_spaces
            ), {:"required" => "true", include_blank: true} %>
        </div>
        <div class="large-6 columns">
          <%= f.label 'Select Display Type for additional POP spaces' %><br/>
          <%= f.select :pop_display_type, options_for_select( 
            [
              ["Table", "table"],
              ["Floor", "floor"],
            ],
            @registration.pop_display_type
            ), {:"required" => "true", include_blank: true} %>
        </div>
      </div>


    </fieldset>
  </div>
</div>