<div class="row vendor">
  <div class="large-12 columns">
    <fieldset>
      <legend>Vendor Loyalty Discount</legend>
      <p>Upon submitting this form, we will review your information and adjust your total cost accordingly. We will contact you with the final amount due and your payment options at that time.</p>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label 'Do you qualify for Vendor loyalty discounts?' %>
            <%= f.select :vendor_loyalty_discount, options_for_select([
            ['Yes', true],
            ['No', false]
            ],
          f.object.vendor_loyalty_discount
          ), {:"required" => "true", include_blank: true} %>
        </div>
      </div>
    </fieldset>
  </div>
</div>