<div class="row vendor">
  <div class="large-12 columns">
    <fieldset>
      <legend>Vendors In Action (VIA) Sponsorship: $750</legend>
      <p>Includes access to VIA functions for up to two attendees, special signage and a full-page black & white ad in the NLGS event directory (value $1500).</p>
      <div class="row via-sponsorship">
        <div class="large-4 columns">
      <%= f.label 'Would you like to be a VIA sponsor?' %>
      <%= f.select :via_sponsor, options_for_select([
        ['Yes', true],
        ['No', false]
        ],
      f.object.via_sponsor
      ), {:"required" => "true", include_blank: true} %>
        </div>
      </div>
    </fieldset>
  </div>
</div>