// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select {
  border: 0px;
  width: 200px;
  background-color: #FFF;
  color: #000;
}

// .vendor {
//   border: 1px solid blue;
// }

// .buyer {
//   border: 1px solid green;
// }

// .mfrep {
//   border: 1px solid orange;
// }

// .media {
//   border: 1px solid yellow;
// }

.dark {
  background-color: #222;
  border-color: #999;
}